
/*Troubleshooting border*/

/* * {
	border: 1px solid red;
}*/


div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*display:flex; */
}

article {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*display:flex; */
}

section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*display:flex; */
}


.container {
  width:100%;
}

/* headings */

h1 {
    font-family: sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    display: block;
    letter-spacing: 2px;
    line-height: .9em;
}

h2 {
    font-family: sans-serif;
    font-weight: normal;
    display: block;
    letter-spacing: 1px;
    line-height: .9em;
    color: #808080;
}

h3 {
    font-family: 'Shadows Into Light Two', cursive;
    display: block;
    line-height: .9em;
    margin-top: 5px;
}

#header-name-top-right {
    text-align: right;
    float: right;
    padding-right: 1%;
    margin-bottom: 18px;
}

.udacity-logo {
    margin: 0 auto;
}

#logo-top-left {
    float: left;
}

.featured {
    margin-left: 1%;
    font-size: 30px;
}

hr {
    display: block;
    height: 2px;
    width: 97%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 25px;
    margin-bottom: 30px;
    color: #e0e0e0;
}

.project-links {
    color: #808080;
    text-align: center;
}

.magenta-col {
    /*background-color:darkmagenta;*/
    
    height: 325px;
    margin: 5px 20px;
    padding: 3%;
}

.margenta-col-img {
    border: 20px solid darkmagenta;
    text-align: center;
    width: 90%;
    max-width: 375px;
    min-width: 200px;
    display: flex;
}

.orange-circle {
    background-color: #fff;
    border: 5px solid #ff6600;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding-left: 7px;
    padding-top: 8px;
    margin-left: 16px;
}

/*.white-inner-circle {
	border-radius: 50%;
	background-color: #fff;
	height: 85px;
	width: 85px;
	margin: 0 auto;
	margin-top: 9px;
}*/

.portfolio-row-break {
    color: #808080;
    height: 2px;
}

.white-col-4 {
    float: left;
    min-height: 420px;
    padding: 2%;
    display: block;
}

.white-col-4 > h2 {
    text-align: center;
    margin-bottom: 8px;
}

.white-col-4 > h3 {
    text-align: center;
    margin-bottom: 5px;
}

.row {
    width: 100%;
    height: auto;
    /*display: flex;*/
    
    display: block;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 31%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 48%;
    margin-right: 2%;
}

.col-7 {
    width: 57%;
}

.col-8 {
    width: 65%;
}

.col-9 {
    width: 74%;
}

.col-10 {
    width: 82%;
}
.col-11 {
    width: 91%;
}

.col-12 {
    width: 100%;
}

.center-image {
    width: 97%;
    max-height: 480px;
    opacity: .95;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
}

.center-image:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: darkmagenta;
    opacity: .25;
}

footer {
    height: 20vw;
    margin-top: 50px;
    max-height: 50px;
    width: 100%;
    background-color: #f0f0f0;
    clear: both;
    vertical-align: baseline;
}

.footer-content > p {
  float:left;
  font-size:11px;
  font-family: sans-serif;
  color: #808080;
  padding-left:1%;
  padding-top:10px;
}

.social-media {
    list-style-type: none;
    max-width: 150px;
    float: right;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 0;
}

.social-media-li {
    padding: 0 !important;
    display: inline-block !important;
    float: left;
    margin: 0 8px 10px 0 !important;
    list-style-type: none !important;
}

.social-media-li img {
    opacity: .4;
    vertical-align: top;
}


/* Media Queries */

/*@media only screen and (max-width:300px) {
	.white-col-4 {
		display:flex;
		flex: flex-wrap;
	}
}*/

/* Smartphones (portrait) ----------- */

@media only screen and (min-width: 320px) and (max-width: 479px) {
  
    /* * {
	color:limegreen;
}*/
    
    .center-image {
        min-width: 340px;
        max-width: 450px;
        height: auto;
        margin-left: 1%;
    }
  
    .row {
        width: 380px;
        height: auto;
    }
  
    .col-4 {
        width: 90%;
        display: block;
        float: left;
    }
  
    .white-col-4 {
        width: 98%;
        display: block;
        float: left;
    }
  
    .col-6 {
        width: 99%;
        float: left;
    }
  
    .col-6 > h1 {
        float: left;
        display: block;
        text-align: left;
        width: 100%;
    }
  
    .col-6 > h3 {
        float: left;
        display: block;
    }
  
    .magenta-col-img {
        display: block;
        max-width: 150px !important;
    }
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-width: 480px) and (max-width: 768px) {
  
    /* * {
	color:blue;
}*/
    
    .center-image {
        max-width: 700px;
        height: auto;
        margin-left: 2%;
    }
  
    .row {
        max-width: 760px;
        height: auto;
    }
  
    .col-4 {
        width: 45%;
        display: block;
        float: left;
    }
  
    .white-col-4 {
        width: 45%;
        display: block;
        float: left;
    }
  
    .col-6 {
        width: 40%;
        float: left;
        margin-right: 2%;
    }
  
    .magenta-col-img {
        display: block;
        width: 175px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
  /* * {
	color:darkmagenta;
}*/
    
    .center-image {
        max-width: 900px;
        height: auto;
        margin-left: 2%;
    }
  
    .row {
        max-width: 900px;
        height: auto;
    }
  
    .col-4 {
        width: 45%;
        display: block;
        float: left;
    }
  
    .white-col-4 {
        width: 30%;
        display: block;
        float: left;
    }
  
    .col-6 {
        width: 42%;
        float: left;
        margin-right: 3%;
    }
  
    .magenta-col-img {
        display: block;
        width: 350px;
    }
}
Status API Training Shop Blog About Pricing
© 2015 GitHub, Inc. Terms Privacy Security Contact Help
